

//insérer les couleurs ici

$primary://la couleur ici;
$secondary: //lacouleur ici
$dark
$bg-dark
$font-family-sans-serif: "montserrat", "sans-serif";

@import "../node_modules/bootstrap/scss/bootstrap";




